<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="" th:href="@{/styling/style.css}" />
    <title>Find Us</title>
</head>
<body>

<div class="container">
    <div class="navbar">
        <img th:src="@{/img/mnt 1.png}" alt="">

        <div class="navbar-logo">
            <h1>Ski Guide</h1>
        </div>

        <ul class="navbar-menu">
            <li><a th:href="@{'/reserve'}">Reserve now</a></li>
            <li><a th:href="@{'/register'}">Register</a></li>
            <li><a th:href="@{'/login'}">Login</a></li>
            <li><a th:href="@{'/findus'}">Find Us</a></li>
            <li><a th:href="@{'/shop'}">Shop</a></li>
            <li><a th:href="@{'/aboutus'}">About Us</a></li>
            <li><a th:href="@{'/logout'}">Logout</a></li>
        </ul>
    </div>

    <div class="findus-content">
        <h1>Find Us</h1>
        <p>Where can you find us?</p>
        <p>Anywhere on Valea Prahovei</p>
        <p>You select a ski resort and we come to you.</p>
        <h1><a th:href="@{'/reserve'}">RESERVE NOW</a></h1>
        <img th:src="@{/img/map.png}" alt="">
    </div>

    <div class="footer">

        <div class="footer-left">
            <p>Email: skiguide@yahoo.com</p>
            <p>Facebook: Ski Guide</p>
            <p>Telephone: 07********</p>
        </div>

        <div class="footer-right">
            <h3>Follow us:</h3>
            <a th:href="@{'https://www.instagram.com'}"><img th:src="@{/img/insta.png}" alt=""></a>
            <a th:href="@{'https://www.facebook.com'}"><img th:src="@{/img/facebook.png}" alt=""></a>
            <a th:href="@{'https://www.twitter.com'}"><img th:src="@{/img/twitter.png}" alt=""></a>
            <a th:href="@{'https://www.youtube.com'}"><img th:src="@{/img/youtube.png}" alt=""></a>
        </div>
    </div>



</div>

</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find US</title>
</head>
<body>
        <div th:class="header">
            <nav>
                <a th:href="@{'/'}">SkiGuide</a>
                <a th:href="@{'/reserve'}">Reserve Now</a>
                <a th:href="@{'/login'}">Log in</a>
                <a th:href="@{'/register'}">Register Now</a>
                <a th:href="@{'/findus'}">Find Us</a>
                <a th:href="@{'/shop'}">Shop</a>
                <a th:href="@{'/aboutus'}">About Us</a>
                <a th:href="@{'/logout'}">Logout</a>
            </nav>
        </div>
        <div>
            <h1>Find us</h1>
        </div>
</body>
</html> -->